.group-title {
    width: 450px;
}

@media screen and (max-width: 1910px){ 
    .note-area-container {
        margin: 0 -2.7% 0 0;
    }
  }
@media screen and (max-width: 1536px){ 
    .note-area-container {
        margin: 0 -6% 0 0;
    }
  }
@media screen and (max-width: 1280px){ 
    .note-area-container {
        margin: 0 -12.5% 0 0;
    }
  }
@media screen and (max-width: 1098px){ 
    .note-area-container {
        margin: 0 -18.5% 0 0;
    }
  }