.main-container {
    margin-top: 3%;

    h1 {
        font-size: 3em;
    }
    .add-btn {
        width: 100%;
        font-size: 2em;
    }
}
.memo {
    display: flex;
    justify-content: space-evenly;
    // max-width: 100%;
}

@media screen and (max-width: 1910px){
    .react-stickies-wrapper {
        width: 90%;
    }
  }
@media screen and (max-width: 1536px){
    .react-stickies-wrapper {
        width: 80%;
    }
  }
@media screen and (max-width: 1280px){
    .react-stickies-wrapper {
        width: 65%;
    }
  }
@media screen and (max-width: 1098px){
    .react-stickies-wrapper {
        width: 55%;
    }
  }
